<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<nav th:fragment="navbar" style = "background-color: yellowgreen" class="navbar navbar-expand-lg navbar-light bg-light">
    <a th:href="@{/inicio}" class="navbar-brand">Inicio</a>
    <a th:href="@{/clientes}" class="navbar-brand">Clientes</a>
    <a th:href="@{/productos}" class="navbar-brand">Productos</a>
    <a th:href="@{/comprobantes}" class="navbar-brand">Comprobantes</a>
</nav>
</body>
</html>