<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema de facturación electrónica</title>
</head>
<body>
<nav th:fragment="navbar" style = "background-color: yellowgreen" class="navbar navbar-expand-lg navbar-light bg-light">
    <a th:href="@{/inicio}" class="navbar-brand">Inicio</a>
    <a th:href="@{/clientes}" class="navbar-brand">Clientes</a>
    <a th:href="@{/productos}" class="navbar-brand">Productos</a>
    <a th:href="@{/comprobantes}" class="navbar-brand">Comprobantes</a>
</nav>
<h1>Sistema de facturación electrónica</h1>>
</body>
</html>